<p><strong>Olá!</strong></p>
<p>Você registrou o email no aplicativo do Grupo Fera e estamos te enviando o código necessário para confirmá-lo, confira abaixo:</p>
<h1>{{ code }}</h1>
<p><small>Observação: O código tem validade de {{ minutes }} minutos.</small></p>
